<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Data Size
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conversor de unidade</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Enter value:</ion-label>
    <ion-input type="number" min="0" [(ngModel)]="inputValue"></ion-input>
  </ion-item>

  <ion-grid> 
    <ion-row>
      <ion-col>
        <div>
          <ion-label>From</ion-label>
          <ion-select [(ngModel)]="inputSize">
            <ion-select-option value="Byte">Byte</ion-select-option>
            <ion-select-option value="KB">KB</ion-select-option>
            <ion-select-option value="MB">MB</ion-select-option>
            <ion-select-option value="GB">GB</ion-select-option>
          </ion-select>
        </div>
      </ion-col>

      <ion-col>
        <div>
          <ion-label>To</ion-label>
          <ion-select [(ngModel)]="outputSize">
            <ion-select-option value="Byte">Byte</ion-select-option>
            <ion-select-option value="KB">KB</ion-select-option>
            <ion-select-option value="MB">MB</ion-select-option>
            <ion-select-option value="GB">GB</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <div class="output">
      {{ outputString }}
    </div>
  </ion-item>
  

  <ion-button (click)="convert()" expand="block" color="primary">Convert</ion-button>
  <ion-button (click)="clear()" expand="block" color="primary">Clear</ion-button>



</ion-content>

