<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unit converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unit converter</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Welcome! Choose a unit to compute!</p>

  <ion-button [routerLink]="['/data']" color="medium">Data Size</ion-button>
  <ion-button [routerLink]="['/temperature']" color="medium">Temperature</ion-button>
  <ion-button [routerLink]="['/speed']" color="medium">Speed</ion-button>

</ion-content>

